{{ define "donate" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Поддержать</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/css/menu.css"/>
  </head>
  <body class="page">
    <div id="wrap">
      
      {{ template "menu" . }}
      
      <div class="page-headline">Поддержать нас</div>


      <div id="main">
        
	<div>
          <h3>Почему поддержка важна?</h3>
          <p>Любые пожертвования очень помогут нам продвинуть этот проект, а так-же создать новые сервисы для ВАС</p>
	</div>

	<div>
          <h3>Почему у нас всё бесплатно?</h3>
          <p>Мы считаем, что хороший софт должен быть бесплатным, нас приятно безвозмездно помогать нуждающимся</p>
	</div>

	<div>
          <h3>Карта банка</h3>
          <p>6745 4546 5433 4354</p>
	  <p>9745 3346 7833 4345</p>
	</div>

	<div>
          <h3>На номер телефона</h3>
          <p>+789852447602</p>
	  <p>+79775934908</p>
	</div>

	<div>
          <h1>Большое спасибо за поддержку</h1>
	</div>

      </div>
    </div>
  </body>
</html>
{{ end }}
